@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

::selection { 
    background: rgb(64, 64, 64); 
    color: #fff;
}

body {
    font-family: Montserrat;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 30px;
}

.container {
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    height: 310px;
}

.formCls {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.label {
    font-size: 18px;
    margin-bottom: 2px;
}

.input {
    height: 30px;
    border-radius: 3px;
    border-width: 1px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 300;
    padding-left: 10px;
}


.button {
    margin-top: 5px;
    margin-right: 10px;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    align-self: center;
}


.button:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
}


.createAnchor {
    color: black;
    margin-top: 40px;
    text-decoration: none;
    align-self: center;
    font-weight: 300;
}

.createAnchor:hover{
    font-weight: 400;
}