{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/css/signup.css'%}">
    <link rel="icon" href="{% static '/icons/title_icon.png'%}">
</head>

<body>


    <section class="section">
        <h1>Sign Up</h1>
        <div class="container">
            <form action="/signup" method="post" class="formCls">
                {% csrf_token %}
                <label for="" class="label">Username</label>
                <input class="input" type="text" id="username" name="username" spellcheck="false" Required
                    autocomplete="off">

                <label for="" class="label">First Name</label>
                <input class="input" type="text" id="fname" name="fname" spellcheck="false" Required autocomplete="off">

                <label for="" class="label">Last Name</label>
                <input class="input" type="text" id="lname" name="lname" spellcheck="false" Required autocomplete="off">

                <label for="" class="label">Email</label>
                <input class="input" type="email" id="email" name="email" spellcheck="false" Required
                    autocomplete="off">


                <label for="" class="label">Password</label>
                <input class="input" type="password" id="pass1" name="pass1" Required>
                <label for="" class="label">Confirm Password</label>
                <input class="input" type="password" id="pass2" name="pass2" Required>


                <button type="submit" class="button">Sign Up</button>

                <a href="/signin" class="createAnchor">Already have an account? Sign In</a>
            </form>
        </div>
        <div>
            {% if messages %}
            <div class="messages" style="text-align:center;">
                {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
                <br>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>


    <script src="" async defer></script>
</body>

</html>